
{% extends "index.html" %}

{% block blogafteropen %}

  <div class="flex justify-center mt-4">
    <div class="w-1/2 mb-6 ">
        <div class="py-4">
            <h1 class=" text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Get back to growth with the world's #1 CRM. wflhfc lkwhjfvlk opfjcwiopql fwpowlkfc </h1>
        </div>
        
        
        <div class="py-6 flex items-center mr-2  ">
            <img class="w-12 h-12   mb-3 ml-1 mr-1 rounded-full shadow-lg" src="https://randomuser.me/api/portraits/men/6.jpg" alt="Bonnie image"/>
            
            <div class="flex flex-col  ">
                <strong>
                    <div class="flex  items-center ">
                        <h5 class=" text-l font-medium text-gray-900 dark:text-white"> &nbsp;&nbsp;{{obj.author.user_detail_name}}, </h5>
                        <span class=" text-sm text-gray-500 dark:text-gray-400">Legal Advisor</span>
                     </div>  
                        <span class="text-sm">{{obj.date}}</span>
                </strong>
                
             </div>       
                    
        </div>

       <div class="py-4">
        
        <img class="h-auto max-w-full" src="https://images.unsplash.com/photo-1694823918181-7e029528c6a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1856&q=80" alt="image description">

       </div>
        <div class="pt-16   ">
            <p class=" mb-3 text-gray-800 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p>
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
         
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
         
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
         
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
         
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
         
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
         
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
        </div>

<div class="py-12">
   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #1</kbd>
   </a> 

   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #2</kbd>
   </a> 
   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #3</kbd>
   </a> 
   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #4</kbd>
   </a> 
   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #5</kbd>
   </a> 

 </div>


    <div class="py-4">
        
     <h2 class="text-4xl font-bold dark:text-white">Similar Articles</h2>


    </div>

    <div class="py-4">
        <div class="flex flex-wrap">
            <div class="max-w-xs p-6 mx-1 my-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>

            <div class="max-w-xs  p-6 mx-1 my-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>

            <div class="max-w-xs  mx-1 my-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>


            <div class="max-w-xs  mx-1 my-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>

        </div>        


    </div>


       
    </div>
    

   

  </div>


  {% endblock  %}
