
{% extends 'navebar.html' %}
{% load static %}
{% block blogafteropen %}

  <div class="flex justify-center mt-4">
    <div class="w-1/2 mb-6 ">
        <div class="py-4">
            <h1 class=" text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{{obj.title}}</h1>
        </div>
        
        
        <div class="py-6 flex items-center mr-2  ">
            <img class="w-12 h-12   mb-3 ml-1 mr-1 rounded-full shadow-lg" src="{{lawyer.image_url}}" alt="Bonnie image"/>
            
            <div class="flex flex-col  ">
                <strong>
                    <div class="flex  items-center ">
                        <h5 class=" text-l font-medium text-gray-900 dark:text-white"> &nbsp;&nbsp;{{lawyer.name}},&nbsp;&nbsp;</h5>
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>
                            <p class="text-gray-600 font-bold text-sm ml-1">
                                {{lawyer.rating}},&nbsp;&nbsp;
            
                                {{lawyer.experience}}
                                
                            </p>
                        </div>
                        {% comment %} <span class=" text-sm text-gray-500 dark:text-gray-400">{{lawyer.rating}}</span> {% endcomment %}
                     </div>  
                        <span class="text-sm">{{obj.date}}</span>
                </strong>
                
             </div>       
                    
        </div>
{% comment %} 
       <div class="py-4">
        
        <img class="h-auto max-w-full" src="https://images.unsplash.com/photo-1694823918181-7e029528c6a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1856&q=80" alt="image description">

       </div> {% endcomment %}
        <div class="pt-16   ">
            <p class=" mb-3 text-gray-800 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left">{{obj.description}}</p>
            <p class="mb-3 text-gray-800 dark:text-gray-400">Deliver great service experiences fast - without the complexity of traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with ease, with a complete audit trail for every change.</p>
            <p class="mb-3 text-gray-800 dark:text-gray-400">Serving clients should be your top priority, and when you follow some of these leading blogs, you'll get a better sense of what that looks like for other attorneys.

                Many attorneys are looking for ways to shake things up, whether that’s how they structure their fees to ditch the billable hour or pivot into a paperless practice. Discover the best ways to enhance your practice management and use systems to your advantage.</p>
            
                <p class="mb-3 text-gray-800 dark:text-gray-400">Plenty of lawyers want to see what's coming next, whether that's a new feature in an existing program or the latest software your colleagues are loving.

                    If you want to know that you're using the best tools, integrations, and programs that help you get things done and give an excellent experience to your clients, make sure to check out some of the best legal tech blogs.</p>
        </div>

<div class="py-12">
   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #1</kbd>
   </a> 

   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #2</kbd>
   </a> 
   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #3</kbd>
   </a> 
   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #4</kbd>
   </a> 
   <a href="#">
    <kbd  class="px-2 py-1.5 text-s font-semibold text-gray-800 bg-gray-300 border border-gray-200 rounded-xl dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Tag #5</kbd>
   </a> 

 </div>


    <div class="py-4">
        
     <h2 class="text-4xl font-bold dark:text-white">Similar Articles</h2>


    </div>

    <div class="py-4">
        <div class="flex flex-wrap">
            {% for x, y in ziped_list %}
            <div class="max-w-xs p-6 mx-1 my-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="{% url "readmore" x.id y.id %}">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{x.title}}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ x.description|truncatechars:150 }}.</p>
                <a href="{% url "readmore" x.id y.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
            {% endfor %}

            

        </div>        


    </div>


       
    </div>
    

   

  </div>
  <section id="FOOTER">
    <div class="mt-8  ">
        <footer class=" shadow bg-gray-900 ">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-6">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="{% url "home" %}" class="flex items-center mb-4 sm:mb-0">
                        <img src="{% static "image/lawyern.png" %}" class="h-8 mr-3" alt="Flowbite Logo" />
                        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">LawFirm</span>
                    </a>
                    <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6 text-white ">About</a>
                        </li>
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6 text-white">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="mr-4 hover:underline md:mr-6 text-white">Licensing</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline text-white">Contact</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">LawFirm™</a>. All Rights Reserved.</span>
            </div>
        </footer>
    </div>

</section>


  {% endblock  %}
