<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"  rel="stylesheet" />

</head>
<body>

     
    <!-- <div class="grid gap-8 ">
        <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-between items-center mb-5 text-gray-500">
                <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                    <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
                    Article
                </span>
                <span class="text-sm">12/08/2023</span>
            </div>
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{x.title}}</Link></h2>
            <p class="mb-5 font-light text-gray-500 dark:text-gray-400">{{x.description}}</p>
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-4">
                   <img class="w-7 h-7 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="Bonnie Green avatar" /> 
                    <span class="font-medium dark:text-white">
                        Author : Author name
                    </span>
                </div>
            </div>
        </article>
</div>  -->





<div class=" mt-4 mb-4 ml-4 mr-4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <div class="flex justify-between items-center  text-gray-500">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <div class="flex items-center">
            <h5 class=" text-l font-medium text-gray-900 dark:text-white">Date: </h5>
            <span class="text-sm">12/08/2023</span>
        </div>
        
    </div>
    
    <div class="flex items-center mr-2  ">
        <img class="w-8 h-8   mb-3 ml-1 mr-1 rounded-full shadow-lg" src="https://randomuser.me/api/portraits/men/6.jpg" alt="Bonnie image"/>
        
            
                <h5 class=" text-l font-medium text-gray-900 dark:text-white">John Doe, </h5>
                <span class=" text-sm text-gray-500 dark:text-gray-400">Legal Advisor</span>
                
    </div>
    
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    
</div>

  
<!-- <div class="flex items-center mr-2 ml-2 pb-10">
    <img class="w-10 h-10   mb-3 ml-1 mr-1 rounded-full shadow-lg" src="https://randomuser.me/api/portraits/men/6.jpg" alt="Bonnie image"/>
    <h5 class="mb-1 text-l font-medium text-gray-900 dark:text-white">Bonnie Green,</h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">Visual Designer</span>
   
</div> -->


<!-- <div class="flex mr-2 ml-2 items-center pb-10">
    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/docs/images/people/profile-picture-3.jpg" alt="Bonnie image"/>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Bonnie Green</h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">Visual Designer</span>
  
 </div>   -->


 <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
   
</body>
</html>