{% extends "navebar.html" %}
{% load static %}
{% block filteradvocate %}
<section id="FEATURES">
    <div id="Heading" class="px-16 my-10">
            
        <h4 class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-900 ">Our Lawyers</h4>
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Get Your Best and Experience Lawyer</p>

    </div>
    <div class="mx-24 flex justify-between ">    
      {% if cnt == 0 %}
      No advocate found
      {% else %}
      {% for t in type %}
      <div class="w-64 bg-white border border-gray-200 rounded-lg shadow ">
        <a href="{% url "lawyer" t.laweruser.id %}">
         <img class="rounded-t-md" src="{% static 'image/imgn3.jpg' %}" alt="" />
        </a>
        <div class="p-1">
         <a href="{% url "lawyer" t.laweruser.id %}">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">{{t.laweruser.name}}</h5>
         </a>
         <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{t.type}}</p>     
        </div>
      </div> 
      {% endfor %}
      {% endif %}   
      
      
      
    </div>
</section>
{% endblock  %}