{% extends "navebar.html" %}
{% load static %}
{% block somebestlawyer %}
<div>
    <section id="LAWYERS">
        <div class="my-24  w-3/4 mx-auto">
          <div id="Heading" class="px-16 flex items-center justify-center my-16">  
              <h5 class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-900  ">Best in the Business</h5>
          </div>
             
            <div class="card-container mb-5">
            {% for l in Lawyers  %}
              <a href="#" class="decoration">
                  <div class="card">
                    <div class="d-flex justify-content-center ">
                      <img class="rounded-t-md" src="{{ l.image_url }}"  >
                    </div>
                    <div class="card-title">{{l.name}}</div>
                    <div class="card-text">
                      {{l.experience}}
                      <pre></pre>
                      {{l.location}}
                    </div>
                  </div>
                </a>
              {% endfor %} 
              
        
        
              
          </div>
        </div>
  
      </section>
      <br>
      <section id="FOOTER">
          <div class="mt-8  ">
              <footer class=" shadow bg-gray-900 ">
                  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-6">
                      <div class="sm:flex sm:items-center sm:justify-between">
                          <a href="{% url "home" %}" class="flex items-center mb-4 sm:mb-0">
                              <img src="{% static "image/lawyern.png" %}" class="h-8 mr-3" alt="Flowbite Logo" />
                              <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">LawFirm</span>
                          </a>
                          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                              <li>
                                  <a href="#" class="mr-4 hover:underline md:mr-6 text-white ">About</a>
                              </li>
                              <li>
                                  <a href="#" class="mr-4 hover:underline md:mr-6 text-white">Privacy Policy</a>
                              </li>
                              <li>
                                  <a href="#" class="mr-4 hover:underline md:mr-6 text-white">Licensing</a>
                              </li>
                              <li>
                                  <a href="#" class="hover:underline text-white">Contact</a>
                              </li>
                          </ul>
                      </div>
                      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">LawFirm™</a>. All Rights Reserved.</span>
                  </div>
              </footer>
          </div>
  
      </section>
  
</div>
{% endblock  %}